{% extends 'base.html.twig' %}

{% block title %}
Commandes - Portail utilisateur LEMNIA
{% endblock %}

{% block body %}
    <!--Contenu de la page-->
    <main class="main-content row">
        <h3>Vos commandes</h3>
        <section class="col s12 l12">
            <div class="row">
                <div class="col s12 m3">
                    <div class="white co_statusCard z-depth-1 hoverable">
                        <div class="co_statusCardCirleIcon yellow lighten-4">
                            <i class="material-icons amber-text text-lighten-3">send</i>
                        </div>
                        <div class="co_statusCardTextContent">
                            <span class="black-text text-lighten-1">2</span>
                            <span class="grey-text text-lighten-1">Commande envoyée</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="white co_statusCard z-depth-1 hoverable">
                        <div class="co_statusCardCirleIcon green lighten-4">
                            <i class="material-icons green-text text-lighten-3">file_download</i>
                        </div>
                        <div class="co_statusCardTextContent">
                            <span class="black-text text-lighten-1">2</span>
                            <span class="grey-text text-lighten-1">Commande reçue</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="white co_statusCard z-depth-1 hoverable">
                        <div class="co_statusCardCirleIcon light-blue lighten-5">
                            <i class="material-icons light-blue-text text-lighten-3">check</i>
                        </div>
                        <div class="co_statusCardTextContent">
                            <span class="black-text text-lighten-1">2</span>
                            <span class="grey-text text-lighten-1">Commande validée</span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="white co_statusCard z-depth-1 hoverable">
                        <div class="co_statusCardCirleIcon grey lighten-4">
                            <i class="material-icons grey-text text-lighten-2">watch_later</i>
                        </div>
                        <div class="co_statusCardTextContent">
                            <span class="black-text text-lighten-1">2</span>
                            <span class="grey-text text-lighten-1">Commande expirée</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row z-depth-4 grey lighten-4 col s12 er_table-container">
                <table cellpadding="1" cellspacing="1" class="table table-hover centered bordered highlight responsive-table col s12" >
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Service</th>
                            <th>N° commande</th>
                            <th>Date</th>
                            <th>Etat</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="myTable" class="er_elem-table_indent">
                        <tr>
                            <td>1</td>
                            <td>Location logiciel A</td>
                            <td>1234567890</td>
                            <td>01-03-2018</td>
                            <td>
                                <div class="chip er_chips-status amber lighten-4">
                                    Envoyée
                                </div>
                            </td>
                            <td class="er_fab-toolbar_indent">
                                <div class="fixed-action-btn horizontal er_fab-action_indent click-to-toggle">
                                    <a class="btn-floating btn-large amber lighten-2 right">
                                        <i class="large material-icons">keyboard_arrow_left</i>
                                    </a>
                                    <ul class="left">
                                        <li><a href="{{ path('lemnia_customer_portal_bill') }}" class="btn-floating red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Aller à la facture"><i class="material-icons">content_paste</i></a></li>
                                        <li><a href="#modal_details" class="btn-floating yellow darken-1 tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Voir le détails de la facture"><i class="material-icons">more</i></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Location logiciel B</td>
                            <td>1234567890</td>
                            <td>01-03-2018</td>
                            <td>
                                <div class="chip er_chips-status amber lighten-4">
                                    Envoyée
                                </div>
                            </td>
                            <td class="er_fab-toolbar_indent">
                                <div class="fixed-action-btn horizontal er_fab-action_indent click-to-toggle">
                                    <a class="btn-floating btn-large amber lighten-2 right">
                                        <i class="large material-icons">keyboard_arrow_left</i>
                                    </a>
                                    <ul class="left">
                                        <li><a href="{{ path('lemnia_customer_portal_bill') }}" class="btn-floating red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Aller à la facture"><i class="material-icons">content_paste</i></a></li>
                                        <li><a href="#modal_details" class="btn-floating yellow darken-1 tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Voir le détails de la facture"><i class="material-icons">more</i></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Intervention humaine</td>
                            <td>1234567890</td>
                            <td>01-03-2018</td>
                            <td>
                                <div class="chip er_chips-status green lighten-4">
                                    Réceptionnée
                                </div>
                            </td>
                            <td class="er_fab-toolbar_indent">
                                <div class="fixed-action-btn horizontal er_fab-action_indent click-to-toggle">
                                    <a class="btn-floating btn-large green lighten-2 right">
                                        <i class="large material-icons">keyboard_arrow_left</i>
                                    </a>
                                    <ul class="left">
                                        <li><a href="{{ path('lemnia_customer_portal_bill') }}" class="btn-floating red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Aller à la facture"><i class="material-icons">content_paste</i></a></li>
                                        <li><a href="#modal_details" class="btn-floating yellow darken-1 tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Voir le détails de la facture"><i class="material-icons">more</i></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>License Artica Proxy</td>
                            <td>1234567890</td>
                            <td>01-03-2018</td>
                            <td>
                                <div class="chip er_chips-status blue lighten-4">
                                    Validée
                                </div>
                            </td>
                            <td class="er_fab-toolbar_indent">
                                <div class="fixed-action-btn horizontal er_fab-action_indent click-to-toggle">
                                    <a class="btn-floating btn-large blue lighten-2 right">
                                        <i class="large material-icons">keyboard_arrow_left</i>
                                    </a>
                                    <ul class="left">
                                        <li><a href="{{ path('lemnia_customer_portal_bill') }}" class="btn-floating red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Aller à la facture"><i class="material-icons">content_paste</i></a></li>
                                        <li><a href="#modal_details" class="btn-floating yellow darken-1 tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Voir le détails de la facture"><i class="material-icons">more</i></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Hébergement web</td>
                            <td>1234567890</td>
                            <td>01-03-2018</td>
                            <td>
                                <div class="chip er_chips-status grey lighten-2">
                                    Expirée
                                </div>
                            </td>
                            <td class="er_fab-toolbar_indent">
                                <div class="fixed-action-btn horizontal er_fab-action_indent click-to-toggle">
                                    <a class="btn-floating btn-large red lighten-2 right">
                                        <i class="large material-icons">keyboard_arrow_left</i>
                                    </a>
                                    <ul class="left">
                                        <li><a href="{{ path('lemnia_customer_portal_bill') }}" class="btn-floating red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Aller à la facture"><i class="material-icons">content_paste</i></a></li>
                                        <li><a href="#modal_details" class="btn-floating yellow darken-1 tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Voir le détails de la facture"><i class="material-icons">more</i></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col s12 row center er_pagination_bill">
                    <span class="col s6 m4 l3 left-align er_elem-number_bill" id="total_reg"></span>
                    <ul class="pagination pager col s6 m6 l5 offset-m2 offset-l4 right-align" id="myPager"></ul>
                </div>
                <!-- Modal de détails de la commande -->
                <div id="modal_details" class="modal modal-fixed-footer">
                    <div class="modal-content row">
                        <h4>Détails de la commande n°1234567890</h4>
                        <span class="col s12 er_up-status">Réceptionnée</span>
                        <strong class="col s12">Description : </strong>
                        <p class="er_details-content grey-text col s12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id mi a purus lacinia rhoncus. Phasellus non aliquet neque, vel ornare purus. Nam id sapien tempor, placerat dolor vel, porta odio. In eros risus, consequat non gravida ac, mollis ut est. In hac habitasse platea dictumst. Cras consequat lobortis sapien eget mollis. Maecenas eu ante eu metus dapibus blandit non quis augue. Phasellus vestibulum mi odio, vitae porttitor dui sodales non. Quisque pellentesque ut sem vitae semper. Pellentesque tincidunt elit metus, at vestibulum ipsum ultricies et. Proin at consequat libero, eget pellentesque nibh. Ut sit amet tincidunt metus, vitae elementum neque. Praesent nibh velit, lobortis vel aliquam quis, dictum id massa.</p>
                        <div class="col row">
                            <strong class="col s12">Durée :</strong>
                            <p class="col s12 er_details-content grey-text">1 an</p>
                        </div>
                        <div class="col row">
                            <strong class="col s12">Numéro de commande :</strong>
                            <p class="col s12 er_details-content grey-text">1234567890</p>
                        </div>
                    </div>
                    <div class="modal-footer er_modal-details-footer">
                        <a href="{{ path('lemnia_customer_portal_bill') }}" class="modal-action modal-close btn waves-effect waves-light light-blue lighten-2 z-depth-2"><i class="material-icons left">content_paste</i>Voir la facture</a>
                        <a href="" class="modal-action modal-close btn-flat waves-effect waves-light grey-text z-depth-2"><i class="material-icons left">refresh</i>Annuler la commande</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; overflow-x: hidden; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

</style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#myTable').pageMe({
          pagerSelector:'#myPager',
          activeColor: 'blue',
          prevText:'Prev',
          nextText:'Next',
          showPrevNext:true,
          hidePageNumbers:false,
          perPage:4
        });

        $(".er_up-status").each(function() {
            if ($(this).text() == 'Envoyée') {
                $(this).addClass('amber lighten-4 amber-text text-lighten-2');
            }
            else if ($(this).text() == 'Réceptionnée') {
                $(this).addClass('green lighten-4 green-text text-lighten-2');
            }
            else if ($(this).text() == 'Validée') {
                $(this).addClass('blue lighten-4 blue-text text-lighten-2');
            }
            else if ($(this).text() == 'Expirée') {
                $(this).addClass('grey lighten-2 grey-text');
            }
            else {
                $(this).addClass('grey lighten-2 grey-text');
            }
        });

    });

    $('.tooltipped').tooltip({delay: 50});
    $('.fixed-action-btn').openFAB();
</script>
{% endblock %}
