{# src/Lemnia/UserBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Portail utilisateur LEMNIA - Connexion</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('materialize/css/materialize.min.css') }}">
        <style type="text/css">
            /* ---- reset ---- */ body{ margin:0;} /* ---- particles.js container ---- */ #particles-js{ position:absolute; top: 0; z-index: 0; width: 100%; height: 100vh!important; background-color: #90a4ae; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 
        </style>
    </head>
    <body>
        {% block body %}
            
            <div id="particles-js" class="transparent "></div>

            {# On affiche les messages flash que définissent les contrôleurs du bundle #}
            {% for key, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ key }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}

            {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
            {% block fos_user_content %}
            {% endblock fos_user_content %}


        {% endblock %}
    </body>
    <script type="text/javascript" src="{{ asset('jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>
    <script src="{{ asset('Particules/particles.js') }}"></script>
    <script>
      particlesJS("particles-js", {"particles":{"number":{"value":80,"density":{"enable":true,"value_area":800}},"color":{"value":"#64b5f6"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":150,"color":"#64b5f6","opacity":0.4,"width":1},"move":{"enable":true,"speed":6,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":true,"mode":"repulse"},"onclick":{"enable":true,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true}); update = function() { stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; } requestAnimationFrame(update); }; requestAnimationFrame(update);
    </script>
</html>

