{% extends 'base.html.twig' %}

{% block title %}
Compte utilisateur - Portail utilisateur LEMNIA
{% endblock %}

{% block body %}
    <!--Contenu de la page-->
    <main class="main-content row">
        <h3>Votre compte utilisateur</h3>
        <section class="col s12 l12">
            <div class="row">
                <!--Affichage du tableau de tout les utilisateurs-->
                <div class="col s12 m5">
                    <div class="card">
                        <div class="card-action" id="ma_info_perso">
                            <div class="co_contactInfoBlock_contacts">
                                <div class="ma_titreBlock_user">
                                    <span class="title_card" id="ma_title_infos_perso">Informations personnelles</span>
                                    <a class="grey-text" id="ma_modif_info_perso" href="#"><i class="material-icons" id="edit" style="font-size:20px">edit</i><i class="material-icons white-text" id="close" style="font-size:20px">clear</i></a>
                                </div>
                                <div class="co_contactInfoTopBlock_contacts">
                                    <div class="co_nameCircle" id="ma_nameCircle">
                                        <p class="white-text" id="ma_initial_info_perso" style="font-size: 22px">MB</p>
                                    </div>
                                    <div class="co_contactInfoTopBlockText_contacts ma_apercu_info_perso">
                                        <p class="grey-text text-darken-2" style="font-size: 16px">{{user.getFirstName}} {{user.getLastName}}</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">{{user}}</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">{{user}}</p>
                                    </div>
                                    <div class="co_contactInfoTopBlockText_contacts ma_modifier_info_perso">
                                        <input placeholder="Nom" id="lastname" type="text" class="validate white-text" value="{{user.getLastName}}">
                                        <input placeholder="Prénom" id="firstname" type="text" class="validate white-text" value="{{user.getFirstName}}">
                                    </div>
                                </div>
                                <div class="co_contactInfoMiddleBlock_contacts ma_apercu_info_perso">
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" >location_on</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">{{user}}</p>
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1">email</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">{{user.getEmail}}</p>
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1">phone</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">{{user.getPhoneNumber}}</p>
                                    </div>
                                </div>
                                <div class="co_contactInfoMiddleBlock_contacts ma_modifier_info_perso">
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <input placeholder="Société" id="socity" type="text" class="validate white-text">
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <input placeholder="Job" id="job" type="text" class="validate white-text">
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <input placeholder="Pays" id="nation" type="text" class="validate white-text">
                                        <input placeholder="Ville" id="city" type="text" class="validate white-text">
                                        <input placeholder="C.Postal" id="code" type="number" max="99999" class="validate white-text">
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <input placeholder="Adresse" id="location" type="text" class="validate white-text">
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <input placeholder="Téléphone" id="phone" type="number"  max="0999999999" class="validate white-text">
                                        <input placeholder="Mail" id="mail" type="email" class="validate white-text">
                                    </div>
                                </div>
                                <div id="validerInfos">
                                    <input class="waves-effect waves-light btn blue blue-lighten-3 col s6 offset-s3" value="Valider les modifications" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-action" id="infos_co">
                            <div class="co_contactInfoBlock_contacts">
                                <div class="ma_titreBlock_user">
                                    <span class="title_card" id="ma_title_info_co">Informations de connexion</span>
                                    <a class="grey-text" id="ma_modif_info_co" href="#"><i class="material-icons" id="editInfosCo" style="font-size:18px">edit</i><i class="material-icons white-text" id="closeInfosCo" style="font-size:20px">clear</i></a>
                                </div>
                                <div class="co_contactInfoMiddleBlock_contacts">
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" >assignment_ind</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">{{user}}</p>
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1">enhanced_encryption</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">{{user.getPassword}}</p>
                                    </div>
                                    <div id="validerInfosCo">
                                        <input class="waves-effect waves-light btn blue blue-lighten-3 col s6 offset-s3" value="Valider les modifications" type="submit">
                                    </div>
                                </div>
                                <div class="co_contactInfoMiddleBlock_contacts ma_modifier_infos_co">
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <input type="text" placeholder="identifiant" id="identifiant" class="validate white-text" value="{{user}}">
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">

                                    </div>
                                    <div id="validerInfosCo">
                                        <input class="waves-effect waves-light btn blue blue-lighten-3 col s6 offset-s3" value="Valider les modifications" type="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-action">
                            <div>
                                <div class="ma_titreBlock_user">
                                    <span class="title_card">Votre mandat SEPA</span>
                                    <a class="grey-text"><i class="material-icons" style="font-size:18px">edit</i></a>
                                </div>
                                <div>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="grey-text" style="font-size: 16px">IBAN</td>
                                                <td class="grey-text text-lighten-1" style="font-size: 14px">1234-12345-12345-1234567890-12</td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text" style="font-size: 16px">BIC</td>
                                                <td class="grey-text text-lighten-1" style="font-size: 14px">12345678901</td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text" style="font-size: 16px">DATE</td>
                                                <td class="grey-text text-lighten-1" style="font-size: 14px">24-02-2018</td>
                                            </tr>
                                            <tr>
                                                <td class="grey-text" style="font-size: 16px">SIGNATURE</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-action">
                            <div>
                                <div class="ma_titreBlock_user">
                                    <span class="title_card">Vos cartes bancaires</span>
                                </div>
                                <div class="ma_carteBancaire_contenu">
                                    <table class="bordered grey-text">
                                        <thead>
                                            <tr>
                                               <th>#</th>
                                               <th>Type</th>
                                               <th>NUMERO DE CARTE</th>
                                               <th>DATE D'EXPIRATION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Visa</td>
                                                <td>4970 1012  3456 7890</td>
                                                <td>06-12-2024</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Visa</td>
                                                <td>4970 1012  3456 7890</td>
                                                <td>06-12-2024</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a class="btn blue lighten-1 modal-trigger" href="#modal1">Ajoutez une carte</a>
                                    <div id="modal1" class="modal modal-fixed-footer">
                                        <div class="modal-content">

                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Valider</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}
     <script src="{{ asset('js/user.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; overflow-x: hidden; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

</style>
{% endblock %}

