{% extends 'base.html.twig' %}

{% block title %}
Liste des utilisateurs - Portail utilisateur LEMNIA
{% endblock %}

{% block body %}
    <!--Contenu de la page-->
    <main class="main-content row">
        <h3>Liste des utilisateurs</h3>
        <section class="col s12 l12">
            <div class="row">
                <!--Affichage du tableau de tout les utilisateurs-->
                <table id="etablissements" class="display" cellspacing="0" width="90%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Entreprise</th>
                            <th>Téléphone</th>
                            <th>Mail</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for userN in users %}
                        <tr>
                            <td>{{ userN.id }}</td>
                            <td>{{ userN.firstname }}</td>
                            <td>{{ userN.lastname }}</td>
                            <td>Société</td>
                            <td>{{ userN.phoneNumber }}</td>
                            <td>{{ userN.email }}</td>
                            <td><a class="btn-floating btn tooltipped waves-effect waves-light cyan darken-2 right" data-tooltip="Acceder aux demmandes de l'établissement. En temps qu'administrateur, vous pouvez les modifier même si elles ont déja été validées." data-position="top" data-delay="50" href="" style="width: 25px; height: 25px;"><i class="material-icons" style="width: 25px; line-height: 25px; transform: scale(0.8);">search</i></a></td>
                            <td><a class="dropdown-button" href="#!" data-activates="action_etab"><i class="material-icons right">arrow_drop_down</i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; overflow-x: hidden; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

</style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function(){
            $('#etablissements').DataTable();
        });
</script>
{% endblock %}