{% extends 'base.html.twig' %}

{% block title %}
Liste des utilisateurs - Portail utilisateur LEMNIA
{% endblock %}

{% block body %}
    <!--Contenu de la page-->
    <main class="main-content row">
        <h3>Liste des utilisateurs</h3>
        <section class="col s12 l12">
            <div class="row">
                <!--Affichage du tableau de tout les utilisateurs-->
                <table id="users" class="display restponsive-table" cellspacing="0" width="90%">
                    <thead>
                        <tr>
                            <th class="hide-on-med-and-down er_hide-column_listuser">ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Entreprise</th>
                            <th class="hide-on-med-and-down er_hide-column_listuser">Téléphone</th>
                            <th>Mail</th>
                            <th class="hide-on-med-and-down er_hide-column_listuser"></th>
                            <th class="hide-on-large-only er_show-column_listuser"></th>
                            <th class="hide-on-med-and-down er_hide-column_listuser"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for userN in users %}
                        <tr>
                            <td class="hide-on-med-and-down er_hide-column_listuser">{{ userN.id }}</td>
                            <td>{{ userN.firstname }}</td>
                            <td>{{ userN.lastname }}</td>
                            <td>Société</td>
                            <td class="hide-on-med-and-down er_hide-column_listuser">{{ userN.phoneNumber }}</td>
                            <td>{{ userN.email }}</td>
                            <td class="hide-on-med-and-down er_hide-column_listuser"><a class="btn-floating btn tooltipped waves-effect waves-light cyan darken-2 right" data-tooltip="Se connecter avec ce compte. En tant qu'administrateur, vous pouvez modifier toutes les données de cet utilisateur." data-position="top" data-delay="50" href="" style="width: 25px; height: 25px;"><i class="material-icons" style="width: 25px; line-height: 25px; transform: scale(0.8);">search</i></a></td>
                            <td class="hide-on-large-only er_show-column_listuser"><a class="dropdown-button" href="#!" data-activates="action_user"><i class="material-icons right">arrow_drop_down</i></a></td>
                            <td class="hide-on-med-and-down er_hide-column_listuser"><a class="btn-floating btn waves-effect waves-light cyan darken-2 right" href="#modal_edit_user{{ userN.id }}" style="width: 25px; height: 25px;"><i class="material-icons" style="width: 25px; line-height: 25px; transform: scale(0.8);">edit</i></a></td>
                        </tr>
                        <ul id='action_user' class='dropdown-content er_dropdown-user_listuser'>
                            <li><a class="modal-trigger" href="#modal_edit_user{{ userN.id }}">Modifier l'utilisateur<i class="material-icons right">edit</i></a></li>
                            <li><a href="{{ path('lemnia_customer_portal_homepage') }}">Se connecter<i class="material-icons right">search</i></a></li>
                            <li class="divider"></li>
                        </ul>
                        <div id="modal_edit_user{{ userN.id }}" class="modal modal-fixed-footer">
                            <form class="col s12" action="{{ path('lemnia_customer_portal_edituser') }}" enctype="multipart/form-data">
                                <div class="row modal-content">
                                    <h4>Modifier un utilisateur</h4>
                                    <div class="input-field col s12 m6">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input  id="first_name" type="text" class="validate" value="{{ userN.firstname }}">
                                        <label for="first_name">Prénom</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <i class="material-icons prefix">account_box</i>
                                        <input id="last_name" type="text" class="validate" value="{{ userN.lastname }}">
                                        <label for="last_name">Nom</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">phone</i>
                                        <input  id="tel" type="tel" class="validate" value="{{ userN.phoneNumber }}">
                                        <label for="tel" data-error="Type de numéro correct" data-success="Type de numéro incorrect">Téléphone</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">email</i>
                                        <input id="email" type="email" class="validate" value="{{ userN.email }}">
                                        <label for="email" data-error="Type d'adresse mail incorrete" data-success="Type d'adresse mail correcte">Adresse mail</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Valider les modifications</button>
                                </div>
                            </form>    
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; overflow-x: hidden; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

</style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
            $('#users').DataTable();
        });
</script>
{% endblock %}