{% extends 'base.html.twig' %} {% block title %} Portail utilisateur LEMNIA {% endblock %} {% block body %}
<!--Contenu de la page-->
<main class="main-content row">
    <h3>Vue d'ensemble</h3>
    <section class="row col s12 l12">
        <!-- Status Card and Graph block -->
        <div class="col s12 m12 l12 xl8" style="padding:0">
            <!-- StatusCard -->
            <div class="row">
                <div class="col s12 m12 l6">
                    <div class="white card-panel co_statusCard z-depth-1">
                        <div class="co_statusCardCirleIcon co_statusCardSurroundedIcon co_goldBorders">
                            <i class="material-icons amber-text text-accent-3">check</i>
                        </div>
                        <div class="co_statusCardTextContent">
                            <span class="amber-text text-accent-3">{% if (error_sub == true) %}2356€{% else %}{{costbym}}{% endif %}</span>
                            <span class="grey-text text-darken-3" style="font-size: 12px">Coût mensuel de vos abonnements</span>
                        </div>
                    </div>
                </div>

                <div class="col s12 m12 l6">
                    <div class="white card-panel co_statusCard z-depth-1">
                        <div class="co_statusCardCirleIcon co_statusCardSurroundedIcon co_orangeBorders">
                            <i class="material-icons orange-text">check</i>
                        </div>
                        <div class="co_statusCardTextContent">
                            <span class="orange-text">{% if (error_sub == true) %}19759€{% else %}{{costbyyear}}{% endif %}</span>
                            <span class="grey-text text-darken-3" style="font-size: 12px">Coût total de vos abonnements</span>
                        </div>
                    </div>
                </div>

                <!-- Graph -->
                <div class="col s12 m12">
                    <div class="white card-panel z-depth-1">
                        <span class="title_card">Dépenses mensuelles</span>
                        <canvas style="margin-top: 20px" id="myChart"></canvas>
                        <script>
                            var ctx = document.getElementById('myChart').getContext('2d');
                            var chart = new Chart(ctx, {

                                type: 'line',
                                data: {
                                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                                    datasets: [{
                                        label: "Dépenses totales",
                                        fill: true,
                                        borderColor: '#87CEFA',
                                        backgroundColor: '#87CEFA',
                                        pointBackgroundColor: '#1E90FF',
                                        pointBorderColor: '#4169E1',
                                        pointRadius: 4,
                                        pointHoverRadius: 7,
                                        // Dans le data faudra remplacer avec les requête dans l'API
                                        data: [15, 20, 12, 25, 18, 25, 32],
                                    }]
                                },

                                options: {
                                    //on enlève la légende de base 
                                    legend: {
                                        display: false,

                                    },
                                    scales: {
                                        //on affiche une légende pour l'axe y
                                        yAxes: [{
                                            display: true,
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Montant des dépenses',
                                            },

                                            ticks: {
                                                //On fait commencer l'axe à 0 et on rajoute un k après la valeur 
                                                beginAtZero: true,
                                                userCallback: function(tick) {
                                                    return tick.toString() + 'k';
                                                }

                                            }
                                        }]
                                    },
                                    //Pour désactiver l'animation d'apparition.
                                    animation: {
                                        duration: 0,
                                    },
                                    hover: {
                                        animationDuration: 0,
                                    },
                                    responsiveAnimationDuration: 0,

                                }
                            });

                        </script>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right column block with status block -->
        <div class="col s12 m12 l12 xl4" style="padding:0">
            <div class="row">
                <div class="col s12 m12">
                    <div class="white card-panel z-depth-1">
                        <p>Commandes</p>
                        <!--Commande envoyée-->
                        <div class="an_commande_envoyee">
                            <div class="co_statusCardCirleIcon yellow lighten-4">
                                <i class="material-icons amber-text text-lighten-3">send</i>
                            </div>
                            <div class="an_statusCardTextContent">
                                <span class="grey-text text-lighten-1" style="font-size: 14px">Commande envoyée</span>
                                <span class="black-text text-lighten-1">2</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <!--Commande reçue-->
                        <div class="an_commande_recue">
                            <div class="co_statusCardCirleIcon green lighten-4">
                                <i class="material-icons green-text text-lighten-3">file_download</i>
                            </div>
                            <div class="an_statusCardTextContent">
                                <span class="grey-text text-lighten-1" style="font-size: 14px">Commande reçue</span>
                                <span class="black-text text-lighten-1">{% if (error_order == true) %}13{% else %}{{listOrders.orderreceive}}{% endif %}</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <!--Commande validée-->
                        <div class="an_commande_validee">
                            <div class="co_statusCardCirleIcon light-blue lighten-5">
                                <i class="material-icons light-blue-text text-lighten-3">check</i>
                            </div>
                            <div class="an_statusCardTextContent">
                                <span class="grey-text text-lighten-1" style="font-size: 14px">Commande validée</span>
                                <span class="black-text text-lighten-1">{% if(error_order == true) %}3{% else %}{{listOrders.orderok}}{% endif %}</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <!--Commande expirée-->
                        <div class="an_commande_expiree">
                            <div class="co_statusCardCirleIcon grey lighten-4">
                                <i class="material-icons grey-text text-lighten-2">watch_later</i>
                            </div>
                            <div class="an_statusCardTextContent">
                                <span class="grey-text text-lighten-1" style="font-size: 14px">Commande expirée</span>
                                <span class="black-text text-lighten-1">{% if (error_order == true) %}1{% else %}{{listOrders.orderoff}}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12">
                    <div class="white card-panel z-depth-1">
                        <p>Licences et abonnements</p>
                        <!--Date de validitée lointaine-->
                        <div class="an_validite_lointaine">
                            <div class="co_statusCardCirleIcon green lighten-5">
                                <i class="material-icons green-text text-lighten-3">check</i>
                            </div>
                            <div class="an_statusCardTextContent">
                                <span class="grey-text text-lighten-1" style="font-size: 14px">Date de fin de validité lointaine</span>
                                <span class="black-text text-lighten-1">{% if (error_sub == true) %}5{% else %}{{subsok}}{% endif %}</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <!--Date de validitée proche-->
                        <div class="an_validite_proche">
                            <div class="co_statusCardCirleIcon yellow lighten-4">
                                <i class="material-icons amber-text text-lighten-3">hourglass_empty</i>
                            </div>
                            <div class="an_statusCardTextContent">
                                <span class="grey-text text-lighten-1" style="font-size: 14px">Date de fin de validité proche</span>
                                <span class="black-text text-lighten-1">{% if (error_sub == true) %}2{% else %}{{soonof}}{% endif %}</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <!--Date de validitée dépasée-->
                        <div class="an_validite_depasee">
                            <div class="co_statusCardCirleIcon red lighten-4">
                                <i class="material-icons red-text text-lighten-3">warning</i>
                            </div>
                            <div class="an_statusCardTextContent">
                                <span class="grey-text text-lighten-1" style="font-size: 14px">Date de fin de validité dépassé</span>
                                <span class="black-text text-lighten-1">{% if (error_sub == true) %}1{% else %}{{subspast}}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
{% endblock %} {% block stylesheets %}
<style>
    body {
        background: #F5F5F5;
        font: 18px/1.5 sans-serif;
        overflow-x: hidden;
    }
    
    h1,
    h2 {
        line-height: 1.2;
        margin: 0 0 .5em;
    }
    
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 21px;
        margin-bottom: 1em;
    }
    
    p {
        margin: 0 0 1em 0;
    }
    
    a {
        color: #0000F0;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    code {
        background: #F5F5F5;
        max-width: 100px;
        padding: 2px 6px;
        word-wrap: break-word;
    }
    
    #wrapper {
        background: #FFF;
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
    }
    
    #container {
        padding: 2em;
    }
    
    #welcome,
    #status {
        margin-bottom: 2em;
    }
    
    #welcome h1 span {
        display: block;
        font-size: 75%;
    }
    
    #icon-status,
    #icon-book {
        float: left;
        height: 64px;
        margin-right: 1em;
        margin-top: -4px;
        width: 64px;
    }
    
    #icon-book {
        display: none;
    }
    
    @media (min-width: 768px) {
        #wrapper {
            width: 80%;
            margin: 2em auto;
        }
        #icon-book {
            display: inline-block;
        }
        #status a,
        #next a {
            display: block;
        }
        @-webkit-keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .sf-toolbar {
            opacity: 0;
            -webkit-animation: fade-in 1s .2s forwards;
            animation: fade-in 1s .2s forwards;
        }
    }

</style>
{% endblock %}
