{% extends "LemniaUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="col l6 login-right-part">
    <img class="login-logo" src="{{ asset('img/logo_bleu_clair.png') }}">
    <h1>LEMNIA</h1>
    <h2>Global Solution</h2>
    <p>Content de vous revoir !</p>
    <p>Connectez-vous à votre espace personnel</p>
    <form method="post" action="{{ path("fos_user_security_check") }}" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field">
                <input id="identifiant" type="text" name="_username" class="validate" value="{{ last_username }}" required>
                <label class="cyan-text text-darken-1" for="identifiant">Identifiant</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" name="_password" class="validate" maxlength="255" required>
                <label class="cyan-text text-darken-1" for="password">Mot de passe</label>
            </div>
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="login-space">
                <button id="_submit" type="submit" name="_submit" class="btn" value="{{ 'security.login.submit'|trans }}">Connexion</button>
                <a href="#">Mot de passe oublié ?</a>
            </div>
        </div>
    </form>
</div>
{% endblock fos_user_content %}
